@import '@/styles/maps';
@import '@/styles/variables';

.menuView {
  position: absolute;
  bottom: 0;
  left: 48px;

  width: 227px;
  height: 300px;
  padding-top: 7px;
  padding-right: 14px;

  li {
    padding: 2px;
    padding-left: 4px;

    color: rgba($offWhite, 0.8);

    figure {
      font-size: 12px;

      display: flex;
      align-items: center;

      figcaption {
        padding-left: 7px;
      }
    }

    &:hover {
      background-color: hsla(
        0,
        0%,
        map-get($taskbar, hover-lightness),
        map-get($taskbar, opacity)
      );

      svg {
        color: $highlightColor;
      }
    }

    &:active {
      background-color: hsla(
        0,
        0%,
        map-get($taskbar, hover-lightness),
        map-get($taskbar, active-opacity)
      );
    }
  }
}

.menuIcon {
  width: 32px;
  height: 32px;

  background-color: darken($highlightColor, 25%);

  img {
    width: 32px;
    height: 32px;
    padding: 4px;
  }
}
