@import '@/styles/maps';
@import '@/styles/variables';

// TODO: Dimensions and position should not be part of the MenuView. All View's should be more generic. Pass class along?

.menuView {
  padding-top: 6px;
  padding-right: 10px;

  position: absolute;
  bottom: 0;
  left: 48px; // TODO: Width of button bar

  width: 227px;
  height: 300px;

  li {
    color: white;
    padding: 2px;
    padding-left: 4px;

    figure {
      display: flex;
      align-items: center;
      font-size: 13px;

      figcaption {
        padding-left: 7px;
      }
    }

    &:hover {
      background-color: hsla(
        0,
        0%,
        map-get($taskbar, hover-lightness),
        map-get($taskbar, opacity)
      );
  
      svg {
        color: $highlightColor;
      }
    }
  }
}

.menuIcon {
  background-color: darken($highlightColor, 25%);
  width: 32px;
  height: 32px;

  img {
    width: 32px;
    height: 32px;
    padding: 5px;
  }
}