@import '@/styles/maps';

.desktop {
  position: fixed;
  z-index: map-get($zIndex, desktop);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-image: linear-gradient(
      rgba(0, 0, 0, map-get($desktop, background-darkness)),
      rgba(0, 0, 0, map-get($desktop, background-darkness))
    ),
    map-get($desktop, background-url);
  background-size: cover;
}
