@import '@/styles/maps';
@import '@/styles/mixins';

@mixin iconContainerColors($borderStyle, $darker: 0) {
  outline: 1px $borderStyle
    rgba(
      map-get($icon, hover-border-color),
      (map-get($icon, hover-border-opacity) + $darker)
    );
  outline-offset: -2px;
  background-color: rgba(
    map-get($icon, hover-bg-color),
    (map-get($icon, hover-bg-opacity) + $darker)
  );
}

.icon {
  font-size: map-get($icon, font-size);

  z-index: map-get($icon, z-index);

  display: flex;
  flex-direction: column;

  width: map-get($icon, width);
  min-height: map-get($icon, min-height);
  max-height: map-get($icon, max-height);
  margin: 0 0 map-get($icons, padding) 0;

  color: map-get($icon, text-color);
  text-shadow: map-get($icon, text-shadow);

  place-content: space-evenly;
  place-items: center;

  &:last-child {
    margin-bottom: unset;
  }

  &:hover {
    @include iconContainerColors(solid);
  }

  &:focus {
    @include iconContainerColors(dotted, 10%);

    &:hover {
      @include iconContainerColors(solid, 15%);
    }
  }

  figure {
    @include textOverflowEllipsis;

    text-align: center;
    margin: 5px 0;

    figcaption {
      white-space: break-spaces;
    }
  }

  svg {
    width: map-get($icon, svg-width);
  }
}
