@import '@/styles/maps';
@import '@/styles/mixins';

.tray {
  font-size: 10px;

  position: fixed;
  right: 0 + 90px;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: map-get($systemTray, width);
  height: map-get($taskbar, height);

  color: rgba(map-get($clock, text-color), map-get($clock, text-opacity));

  writing-mode: vertical-rl;

  &:hover {
    @include taskbarEntryHoverStyle;
  }
}
