@import '@/styles/maps';
@import '@/styles/mixins';
@import '@/styles/variables';

.taskbarEntry {
  @include textOverflowEllipsis;

  min-width: 0;
  height: map-get($taskbar, height);
  margin: 0 4px;

  border-bottom: $thickLine solid lighten($highlightColor, 30%);

  &:hover {
    transition: background-color 0.1s linear;

    background-color: rgba(
      invert(map-get($taskbar, bg-color)),
      map-get($taskbarEntry, hover-bg-opacity)
    );

    margin: 0;
    padding: 0 4px;
  }

  figure {
    font-size: map-get($taskbarEntry, font-size);

    display: flex;
    align-items: center;

    height: map-get($taskbar, height) - $thickLine;

    color: map-get($taskbarEntry, text-color);

    img {
      width: map-get($taskbarEntry, icon-width);
      margin: 0 map-get($taskbarEntry, icon-margin);
    }

    figcaption {
      overflow: hidden;

      width: map-get($taskbarEntry, text-width);
      padding-right: 5px;

      letter-spacing: 0;
      text-overflow: ellipsis;
    }
  }
}

.foreground {
  margin: 0;
  padding: 0 4px;

  background-color: rgba(
    invert(map-get($taskbar, bg-color)),
    map-get($taskbarEntry, foreground-bg-opacity)
  );

  &:hover {
    background-color: rgba(
      invert(map-get($taskbar, bg-color)),
      map-get($taskbarEntry, hover-foreground-bg-opacity)
    );
  }
}
