.next
node_modules
out

public/.index/fs.*
public/Users/Public/**

!public/Users/Public/Desktop
!public/Users/Public/Desktop/My PC.url
!public/Users/Public/Desktop/Public.url
!public/Users/Public/Documents
!public/Users/Public/Documents/Stream Notes
!public/Users/Public/Documents/Stream Notes/*.md
!public/Users/Public/Music
!public/Users/Public/Pictures
!public/Users/Public/Start Menu
!public/Users/Public/Start Menu/*.url
!public/Users/Public/Videos
!public/Users/Public/*/desktop.ini
