.next
.swc
certificates
out

node_modules

test-results
playwright-report
playwright/.cache

public/robots.txt
public/rss.xml
public/sitemap.xml
public/.index/*
public/Users/Public/**

!public/Users/**/desktop.ini
!public/Users/Public/Desktop
!public/Users/Public/Desktop/My PC.url
!public/Users/Public/Desktop/Public.url
!public/Users/Public/Documents
!public/Users/Public/Music
!public/Users/Public/Pictures
!public/Users/Public/Pictures/prompts.json
!public/Users/Public/Pictures/slideshow.json
!public/Users/Public/Start Menu
!public/Users/Public/Start Menu/*.url
!public/Users/Public/Start Menu/Emulators
!public/Users/Public/Start Menu/Emulators/*.url
!public/Users/Public/Start Menu/Games
!public/Users/Public/Start Menu/Games/Chrome Dino.url
!public/Users/Public/Start Menu/Games/ClassiCube.url
!public/Users/Public/Start Menu/Games/DX-Ball.url
!public/Users/Public/Start Menu/Games/Quake III Arena.url
!public/Users/Public/Start Menu/Games/Space Cadet.url
!public/Users/Public/Videos
