.controls {
  display: flex;
  justify-content: space-around;
  background-color: #b1b1b1;
  padding: 5px;
}

.document {
  background-color: #d7d7d7;
  padding: 25px;
  height: calc(100% - 31px);
  overflow: auto;

  .reactDocument {
    display: flex;
    justify-content: center;
    width: 150%;
  }
}
