@import '@/styles/maps';
@import '@/styles/mixins';

.clock {
  @include bottomRight;

  font-size: map-get($clock, font-size);

  display: flex;
  align-items: center;
  justify-content: center;

  width: map-get($clock, width);
  height: map-get($taskbar, height);

  letter-spacing: 0;

  color: rgba(map-get($clock, text-color), map-get($clock, text-opacity));

  &:hover {
    background-color: hsla(
      0,
      0%,
      map-get($taskbar, hover-lightness),
      map-get($taskbar, opacity)
    );
  }
}
