@import '@/styles/maps';
@import '@/styles/variables';

.start {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: map-get($startmenu, width);
  height: map-get($taskbar, height);

  border: none;
  background-color: transparent;

  svg {
    font-size: 19px;

    color: $offWhite;
  }

  &:hover {
    background-color: hsla(
      0,
      0%,
      map-get($taskbar, hover-lightness),
      map-get($taskbar, opacity)
    );

    svg {
      color: $highlightColor;
    }
  }

  &.menuOpen {
    background-color: hsla(0, 0%, map-get($taskbar, hover-lightness), 0.75);
  }
}

.menu {
  position: absolute;
  bottom: map-get($taskbar, height);
  left: 0;

  width: 275px;
  height: 300px;

  background-color: hsla(0, 0%, map-get($taskbar, base-lightness), 60%);

  backdrop-filter: blur(map-get($taskbar, blur) * 2);

  .buttons {
    position: relative;
    bottom: 0;
    left: 0;

    width: 48px;
    height: 300px;
    padding-top: 4px;

    transition: width 0.1s ease-out 0s;

    > :last-child {
      position: absolute;
      bottom: 0;
    }

    > :nth-last-child(2) {
      position: absolute;
      bottom: 48px;
    }

    .buttonSelected {
      border-left: solid 4px darken($highlightColor, 15%);

      span {
        margin-left: -4px;

        color: darken($highlightColor, 15%);
      }
    }

    figure {
      display: flex;
      overflow: hidden;
      align-items: center;

      width: 48px;
      height: 48px;

      white-space: nowrap;

      color: rgba(white, 80%);
      [data-icon]:before {
        /* stylelint-disable font-family-no-missing-generic-family-keyword */
        font-family: 'SegoeMDL2Assets';

        position: relative;
        top: 2px;
        left: 16px;

        content: attr(data-icon);
      }

      figcaption {
        font-size: 14px;

        position: relative;
        left: 48px;

        strong {
          font-family: 'Helvetica', sans-serif;
          font-weight: 900;
        }
      }

      &:hover {
        background-color: hsla(
          0,
          0%,
          map-get($taskbar, hover-lightness),
          map-get($taskbar, opacity)
        );
      }

      &:active {
        background-color: hsla(
          0,
          0%,
          map-get($taskbar, hover-lightness),
          map-get($taskbar, active-opacity)
        ) !important;
      }
    }

    > :first-child figure figcaption {
      font-weight: bold;
    }
  }

  .buttons:focus {
    transition-delay: 0s !important;
    transition-property: none !important;
  }

  .buttons:focus figure {
    transition-delay: 0s !important;
    transition-property: none !important;
  }

  .buttons:hover {
    z-index: 99999;

    width: 200px;

    background-color: rgba(0, 0, 0, 0.9);

    backdrop-filter: blur(6px);
  }

  @media (hover: hover) {
    .buttons:hover {
      transition: all 0.1s ease-out 0.6s;
      transition-property: width, background-color, backdrop-filter;
    }
  }

  .buttons:hover figure {
    width: 199px;

    figcaption {
      left: 32px;
    }

    &:hover {
      background-color: hsla(
        0,
        0%,
        map-get($taskbar, hover-lightness),
        map-get($taskbar, opacity)
      );
    }
  }

  @media (hover: hover) {
    .buttons:hover figure {
      transition: all 0.1s ease-out 0.6s;
      transition-property: width;
    }
  }
}
