@import '@/styles/maps';
@import '@/styles/variables';

.start {
  position: absolute;
  z-index: map-get($zIndex, taskbar);
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: map-get($startmenu, width);
  height: map-get($taskbar, height);

  border: none;
  background-color: transparent;

  svg {
    font-size: 19px;

    color: $offWhite;
  }

  &:hover {
    background-color: hsla(
      0,
      0%,
      map-get($taskbar, hover-lightness),
      map-get($taskbar, opacity)
    );

    svg {
      color: $highlightColor;
    }
  }

  &.menuOpen {
    background-color: hsla(0, 0%, map-get($taskbar, hover-lightness), 0.75);
  }
}

.menu {
  position: absolute;
  z-index: map-get($zIndex, taskbar);
  bottom: map-get($taskbar, height);
  left: 0;

  width: 275px;
  height: 300px;

  background-color: hsla(0, 0%, map-get($taskbar, base-lightness), 70%);

  backdrop-filter: blur(10px);
}
