@import '@/styles/maps';
@import '@/styles/variables';

.start {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: map-get($startmenu, width);
  height: map-get($taskbar, height);

  border: none;
  background-color: transparent;

  svg {
    font-size: 18px;

    color: white;
  }

  &:hover {
    background-color: hsla(
      0,
      0%,
      map-get($taskbar, hover-lightness),
      map-get($taskbar, opacity)
    );

    svg {
      color: $highlightColor;
    }
  }
}

.menu {
  position: absolute;
  bottom: map-get($taskbar, height);
  left: 0;

  width: 275px;
  height: 300px;

  background-color: hsla(0, 0%, map-get($taskbar, base-lightness), 60%);

  backdrop-filter: blur(map-get($taskbar, blur) * 2);
}
