@import '@/styles/maps';
@import '@/styles/mixins';

.taskbar {
  position: fixed;
  z-index: map-get($zIndex, taskbar);
  bottom: 0;
  left: 0;

  width: 100%;
  height: map-get($taskbar, height);
  // background-color: rgba(
  //   map-get($taskbar, bg-color),
  //   map-get($taskbar, bg-opacity)
  // );

  background-color: hsla(0, 0%, 10%, 0.8);

  backdrop-filter: blur(5px);

  .entries {
    @include bottomLeft;

    display: flex;
    flex: 0 1 map-get($taskbarEntry, width);

    width: calc(100% - #{map-get($clock, width)});
    height: map-get($taskbar, height);

    li {
      padding-right: 1px;

      &:last-child {
        padding-right: unset;
      }
    }
  }
}
