@import '@/styles/maps';
@import '@/styles/mixins';

.taskbar {
  position: fixed;
  z-index: map-get($taskbar, z-index);
  bottom: 0;
  left: 0;

  width: 100%;
  height: map-get($taskbar, height);

  background-color: rgba(
    map-get($taskbar, bg-color),
    map-get($taskbar, bg-opacity)
  );

  .entries {
    @include bottomLeft;

    display: flex;
    flex: 0 1 map-get($taskbarEntry, width);

    width: calc(100% - #{map-get($clock, width)});
    height: map-get($taskbar, height);
  }
}
