@import '@/styles/maps';
@import '@/styles/mixins';
@import '@/styles/variables';

.taskbarEntry {
  @include textOverflowEllipsis;

  min-width: 0;
  height: map-get($taskbar, height);
  margin: 0 4px;

  text-align: left;

  border-width: 0 0 $thickLine 0;
  border-bottom-style: solid;
  border-bottom-color: $highlightColor;
  background-color: transparent;

  &:hover {
    margin: 0;
    padding: 0 4px;

    background-color: hsla(
      0,
      0%,
      map-get($taskbar, hover-lightness),
      map-get($taskbar, opacity)
    );
  }

  figure {
    font-family: 'Segoe UI', 'SegoeUI', 'Helvetica', sans-serif;
    font-size: map-get($taskbarEntry, font-size);

    display: flex;
    align-items: center;

    height: map-get($taskbar, height) - $thickLine;

    color: map-get($taskbarEntry, text-color);

    img {
      display: flex;

      width: map-get($taskbarEntry, icon-width);
      margin: 0 map-get($taskbarEntry, icon-margin);
    }

    figcaption {
      overflow: hidden;

      width: map-get($taskbarEntry, text-width);
      padding-right: 5px;

      letter-spacing: 0;
      text-overflow: ellipsis;
    }
  }
}

.foreground {
  margin: 0;
  padding: 0 4px;

  background-color: hsla(
    0,
    0%,
    map-get($taskbar, foreground-lightness),
    map-get($taskbar, opacity)
  );

  &:hover {
    background-color: hsla(
      0,
      0%,
      map-get($taskbar, hover-foreground-lightness),
      map-get($taskbar, opacity)
    );
  }
}
