@import '@/styles/maps';
@import '@/styles/mixins';
@import '@/styles/variables';

.taskbarEntry {
  @include textOverflowEllipsis;

  min-width: 0;
  height: map-get($taskbar, height);
  margin: 0 4px; // VAR

  border-bottom: $thickLine solid $highlightColor;

  &:hover {
    margin: 0;
    padding: 0 4px; // VAR

    transition: background-color 0.1s linear; // VAR

    background-color: hsla(
      0,
      0%,
      map-get($taskbar, hover-lightness),
      map-get($taskbar, opacity)
    );
  }

  figure {
    font-size: map-get($taskbarEntry, font-size);

    display: flex;
    align-items: center;

    height: map-get($taskbar, height) - $thickLine;

    color: map-get($taskbarEntry, text-color);

    img {
      width: map-get($taskbarEntry, icon-width);
      margin: 0 map-get($taskbarEntry, icon-margin);
    }

    figcaption {
      overflow: hidden;

      width: map-get($taskbarEntry, text-width);
      padding-right: 5px; // VAR

      letter-spacing: 0;
      text-overflow: ellipsis;
    }
  }
}

.foreground {
  margin: 0;
  padding: 0 4px; // VAR

  background-color: hsla(
    0,
    0%,
    map-get($taskbar, foreground-lightness),
    map-get($taskbar, opacity)
  );

  &:hover {
    background-color: hsla(
      0,
      0%,
      map-get($taskbar, hover-foreground-lightness),
      map-get($taskbar, opacity)
    );
  }
}
