@import '@/styles/variables';

.explorer {
  display: grid;

  width: 100%;
  height: 100%;

  background: repeating-linear-gradient(
      #212325,
      #212325 20px,
      #2b2d2f 20px,
      #2b2d2f 40px
    )
    left 0 top 0 no-repeat fixed;
}
