@import '@/styles/variables';

.explorer {
  display: grid;

  width: 100%;
  height: 100%;
  // TODO: Hardcoded. 23 is thead

  background: repeating-linear-gradient(
      #2b2d2f,
      #2b2d2f 20px,
      #212325 20px,
      #212325 40px
    )
    left 0 top calc(#{$titlebarHeight} + 23px) no-repeat fixed;
}
