@import '@/styles/variables';

.explorer {
  display: grid;

  width: 100%;
  height: 100%;

  background: repeating-linear-gradient(
      rgb(30, 30, 30),
      rgb(30, 30, 30) 19px,
      rgb(41, 41, 41) 19px,
      rgb(41, 41, 41) 38px
    )
    left 0 top 25px no-repeat fixed;
}
