.controls {
  display: flex;
  justify-content: space-around;

  padding: 5px;

  background-color: #b1b1b1;
}

.document {
  overflow: auto;

  height: 100%;
  width: 100%;

  padding: 20px 0;

  background-color: #d7d7d7;

  .reactDocument {
    display: flex;
    justify-content: center;

    width: 100%;
  }
}
