@import '@/styles/custom';
@import '@/styles/mixins';

.webOdf {
  @include odfDocument;
  @include scrollbars(
    15px,
    map-get($window, border-radius) * 2,
    map-get($window, scroll-bar-color),
    map-get($window, bg-color)
  );

  overflow-x: hidden;
  overflow-y: scroll;

  width: 100%;
  height: 100%;

  border-radius: map-get($window, border-radius);
}
