@import 'variables';

.clock {
  color: rgba(map-get($textColor, clock), map-get($textOpacity, clock));
  font-size: map-get($fontSize, clock);

  height: map-get($height, taskbar);
  width: map-get($width, clock);

  position: fixed;
  bottom: 0;
  right: 0;

  display: grid;
  place-items: center;

  z-index: map-get($zIndex, clock);

  &:hover {
    background-color: rgba(map-get($backgroundColorOnHover, clock), map-get($backgroundColorOpacityOnHover, clock));
  }
}
