@import 'maps';
@import 'mixins';

.clock {
  @include bottomRight;
  @include taskbarEntryHover;

  font-size: map-get($clock, font-size);

  display: grid;

  width: map-get($clock, width);
  height: map-get($taskbar, height);

  color: rgba(map-get($clock, text-color), map-get($clock, text-opacity));

  place-items: center;
}
