@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=fallback'); // TODO: Host locally

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  font-display: fallback;
  font-family: 'Open Sans', sans-serif;

  user-select: none;
}

button:focus,
li:focus {
  outline: unset;
}
