@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

* {
  box-sizing: border-box;
}

.clippy {
  position: relative;
}
