@import '@/styles/variables';

@font-face {
  font-family: 'SegoeUI';
  font-weight: 600;
  font-style: normal;

  font-display: swap;
  src: url('/fonts/segoeui.woff2') format('woff2');
}

@font-face {
  font-family: 'SFPro-Regular';
  font-weight: 600;
  font-style: normal;

  src: url('/fonts/SF-Pro.woff2') format('woff2');
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;

  outline: unset;

  &:focus {
    outline: unset;
  }
}

html {
  touch-action: manipulation;
}

body {
  font-family: 'Segoe UI', 'SegoeUI', sans-serif;

  background-color: black;

  overscroll-behavior: contain;
}

ol {
  list-style-type: none;
}

img {
  -webkit-user-drag: none;
}

#webamp-context-menu {
  z-index: $foregroundZindex !important;
}
