@import 'maps';
@import 'mixins';

.icons {
  @include topLeft;

  width: 100%;
  height: calc(100% - #{map-get($taskbar, height)});
  padding: map-get($icons, padding) 0;

  ol {
    height: 100%;

    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
  }
}
