@import 'variables';

.icon {
  color: #fff;
  display: grid;
  justify-items: center;
  text-shadow: $icon-text-shadow;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.25);
    // TODO: Border radius on outline
    // TODO: Padding inside outline
  }

  svg {
    // TODO: Vars
    // height: 48px !important;
    // width: 48px !important;
  }
}

.dragging {
  opacity: 0.5;
  z-index: 2;

  &:hover {
    background-color: unset;
    outline: unset;
  }
}
