@import 'variables';

$zIndex: (
  desktop: 1000,
  icons: 1500,
  windows: 1750,
  taskbar: 2000
);

$clock: (
  text-color: $offWhite,
  text-opacity: 80%,
  font-size: $fontSize,
  width: 90px,
  hover-bg-opacity: 10%
);

$desktop: (
  z-index: map-get($zIndex, desktop)
);

$modPer: 35%;

$icon: (
  text-color: $offWhite,
  text-shadow: $textShadow,
  font-size: $fontSize,
  min-height: 72px,
  max-height: 87px,
  width: 80px,
  svg-width: 44px,
  highlight-color: $highlightColor2,
  hover-bg-opacity: 15%,
  focus-bg-opacity: 25%,
  focus-hover-bg-opacity: 35%,
  z-index: map-get($zIndex, icons)
);

$icons: (
  padding: 5px
);

$taskbar: (
  bg-color: $uiColor2,
  bg-opacity: 60%,
  height: 30px,
  z-index: map-get($zIndex, taskbar)
);

$taskbarEntry: (
  text-color: $offWhite,
  text-width: 160px,
  font-size: 12px,
  width: 165px,
  margin: 4px,
  hover-bg-opacity: 10%,
  foreground-bg-opacity: 15%,
  hover-foreground-bg-opacity: 20%,
  icon-width: 16px,
  icon-margin: 7px
);

$window: (
  bg-color: $offWhite,
  border-radius: 5px,
  title-bar-color: $uiColor1,
  title-bar-text-color: rgb(170, 170, 170),
  title-bar-height: 24px,
  title-bar-font-size: $fontSize,
  scroll-bar-color: lighten($uiColor1, 55%),
  z-index: map-get($zIndex, windows)
);
