@import 'variables';

$zIndex: (
  desktop: 1000,
  icons: 1500,
  windows: 1750,
  taskbar: 2000
);

$clock: (
  text-color: $offWhite,
  text-opacity: 80%,
  font-size: 12px,
  width: 90px,
  hover-bg-opacity: 10%
);

$desktop: (
  bg-color: $bgColor,
  z-index: map-get($zIndex, desktop)
);

$icon: (
  text-color: $offWhite,
  text-shadow: $textShadow,
  font-size: 12px,
  width: 74px,
  svg-width: 44px,
  hover-bg-color: $uiColor2,
  hover-bg-opacity: 10%,
  hover-border-color: $uiColor2,
  hover-border-opacity: 30%,
  z-index: map-get($zIndex, icons)
);

$icons: (
  padding: 12px
);

$taskbar: (
  bg-color: $uiColor2,
  bg-opacity: 60%,
  height: 28px,
  z-index: map-get($zIndex, taskbar)
);

$taskbarEntry: (
  text-color: $offWhite,
  text-width: 110px,
  font-size: 11px,
  width: 165px,
  padding: 10px,
  hover-bg-opacity: 10%,
  icon-width: 16px
);

$window: (
  bg-color: $offWhite,
  border-radius: 5px,
  title-bar-color: $uiColor1,
  title-bar-text-color: $offWhite,
  title-bar-height: 24px,
  scroll-bar-color: lighten($uiColor1, 55%),
  z-index: map-get($zIndex, windows)
);
