@import 'variables';

.taskbar {
  background-color: rgba(
    map-get($backgroundColor, taskbar),
    map-get($backgroundColorOpacity, taskbar)
  );

  height: map-get($height, taskbar);
  width: 100vw;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: map-get($zIndex, taskbar);

  .taskbarEntries {
    height: map-get($height, taskbar);
    width: calc(100% - #{ map-get($width, clock) });

    position: fixed;
    bottom: 0;
    left: 0;

    display: flex;
    list-style-type: none;

    z-index: map-get($zIndex, taskbarEntries);
  }
}
