@import 'variables';

.taskbar {
  background-color: $taskbar-color;
  height: $taskbar-height;
  position: fixed;
  width: 100%;
  z-index: $taskbar-z-index;

  .taskbar_entries {
    position: relative;
  }
}
