@import 'variables';

.taskbar {
  background-color: $taskbar-color;
  bottom: 0;
  height: $taskbar-height;
  position: fixed;
  width: 100%;
  z-index: $taskbar-z-index;

  // TODO: Account for 2+ entries, next item to the right
  // .taskbar_entries
}
