@import 'variables';

.taskbar_entry {
    align-items: center;
    border-bottom: $taskbar-highlight-height solid $taskbar-highlight-color;
    color: $taskbar-text-color;
    display: flex;
    font-size: $taskbar-entry-font-size;
    height: $taskbar-height;
    padding: 0 $taskbar-entry-padding;
    position: absolute;
    width: $taskbar-entry-width;

    &:hover {
        background-color: $taskbar-entry-hover-color;
    }

    svg {
        height: $taskbar-entry-icon-dimensions;
        margin-right: $taskbar-entry-padding;
        width: $taskbar-entry-icon-dimensions;
    }
}
