@import 'maps';
@import 'mixins';
@import 'variables';

.taskbarEntry {
  @include taskbarEntryHover;

  figure {
    @include textOverflowEllipsis;

    svg {
      width: map-get($taskbarEntry, icon-width);

      padding-right: map-get($taskbarEntry, padding) / 2;
    }

    figcaption {
      width: map-get($taskbarEntry, text-width);
    }

    color: map-get($taskbarEntry, text-color);
    font-size: map-get($taskbarEntry, font-size);

    height: map-get($taskbar, height) - $thickLine;

    display: flex;
    align-items: center;
  }

  height: map-get($taskbar, height);
  width: map-get($taskbarEntry, width);

  border-bottom: $thickLine solid $highlightColor;

  padding: 0 map-get($taskbarEntry, padding);
}

// 4-5 px padding between items, visible in highlight border
// on hover the hovered items border extends it's 2px's so only the side items 2px is shown
// Also has preview hover, may be harder
