$highlightColor: #65a9e8;
$offWhite: #f8f8ff;

$thickLine: 2px;

$backgroundColor: (
  desktop: #fff,
  taskbar: #000
);

$backgroundColorOpacity: (
  taskbar: 60%
);

$backgroundColorOpacityOnHover: (
  clock: 10%,
  taskbar-entry: 10%
);

$height: (
  taskbar: 28px,
  taskbar-entry-icon: 16px
);

$width: (
  clock: 90px,
  taskbar-entry: 165px,
  taskbar-entry-icon: 16px
);

$padding: (
  taskbar-entry: 10px
);

$fontSize: (
  clock: 12px,
  taskbar-entry: 11px
);

$textColor: (
  clock: $offWhite,
  taskbar-entry: $offWhite
);

$textOpacity: (
  clock: 80%
);

$zIndex: (
  desktop: 1000,
  taskbar: 2000,
  taskbar-entries: 2100,
  taskbar-entry: 2200,
  clock: 2300
);
