$highlightColor: #65a9e8;
$offWhite: #f8f8ff;
$textShadow:
  0 1px 1px rgba(0, 0, 0, 0.5),
  0 1px 1px rgba(0, 0, 0, 0.5),
  0 1px 2px rgba(0, 0, 0, 0.75),
  0 1px 2px rgba(0, 0, 0, 0.75),
  0 1px 3px rgb(0, 0, 0),
  0 1px 3px rgb(0, 0, 0);

$thickLine: 2px;

$backgroundColor: (
  desktop: #3b6ea5,
  taskbar: #000
);

$backgroundColorOpacity: (
  taskbar: 60%
);

$backgroundColorOpacityOnHover: (
  clock: 10%,
  taskbar-entry: 10%
);

$height: (
  icon: 72px,
  icon-svg: 42px,
  taskbar: 28px,
  taskbar-entry-icon: 16px
);

$width: (
  clock: 90px,
  icon: 72px,
  icon-svg: 42px,
  taskbar-entry: 165px,
  taskbar-entry-icon: 16px
);

$padding: (
  taskbar-entry: 10px
);

$fontSize: (
  clock: 12px,
  taskbar-entry: 11px
);

$textColor: (
  clock: $offWhite,
  taskbar-entry: $offWhite
);

$textOpacity: (
  clock: 80%
);

$zIndex: (
  desktop: 1000,
  taskbar: 2000,
  taskbar-entries: 2100,
  taskbar-entry: 2200,
  clock: 2300
);
