$highlightColor: #76b9ed;
$highlightColor2: rgb(200, 200, 200);

$uiColor1: rgb(55, 55, 55);
$uiColor2: black;

$offWhite: rgb(225, 225, 225);

$minimize: rgb(255, 190, 47);
$minimize_active: rgb(191, 142, 35);
$minimize_text: rgb(153, 87, 0);
$maximize: rgb(40, 202, 65);
$maximize_active: rgb(31, 153, 49);
$maximize_text: rgb(0, 99, 0);
$close: rgb(255, 85, 78);
$close_active: rgb(191, 64, 59);
$close_text: rgb(153, 0, 0);

$textShadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 1px 1px rgba(0, 0, 0, 0.5),
  0 1px 2px rgba(0, 0, 0, 0.75), 0 1px 2px rgba(0, 0, 0, 0.75),
  0 1px 3px rgb(0, 0, 0), 0 1px 3px rgb(0, 0, 0);

$thickLine: 2px;

$fontSize: 12.5px;

$baseZindex: 1000;
$zindexLevelSize: 100;
$iconsZindexLevel: 1;
$windowsZindexLevel: 2;
$taskbarZindexLevel: 3;
$foregroundZindex: ($baseZindex + $windowsZindexLevel * $zindexLevelSize) +
  ($zindexLevelSize / 2);

$taskbarEntryWidth: 160px;
$titlebarHeight: 22px;
