@import 'mixins';
@import 'variables';

$window-radius: 5px;

@mixin window_bars {
  color: $title-bar-text-color;
  display: flex;
}

.window {
  background-color: $title-bar-color; // TODO: This is actually the window color technically
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1),
              0 5px 50px rgba(0, 0, 0, 0.3);
  z-index: 1;

  .actions {
    display: flex;
    gap: 5px;
  }

  .content {
    @include scrollbars(15px, $window-radius * 2, $scrollbar-color, $window-background-color);

    background-color: $window-background-color;
    border-radius: 0 0 $window-radius $window-radius;
    height: calc(100% - (#{ $window-titlebar-height } * 2));
    overflow-y: auto;
    overflow-x: hidden;
    user-select: text;
  }

  .title_bar {
    @include window_bars;
  
    align-items: center;
    border-radius: $window-radius $window-radius 0 0;
    height: $window-titlebar-height;
    justify-content: space-between;
  
    .title {
      position: absolute;
      text-align: center;
      width: 100%;
    }
  
    .actions {
      padding-right: 6px;
      position: absolute;
      right: 0;
  
      .minimize, .maximize, .close {
        border-radius: 100%;
      
        &:hover {
          background-color: unset;
        }
      }
      
      .minimize {
        background-color: $minimize-color;
        color: $minimize-color;
      }
      
      .maximize {
        background-color: $maximize-color;
        color: $maximize-color;
      }
      
      .close {
        background-color: $close-color;
        color: $close-color;
      }
    }
  }
  
  .action_bar {
    @include window_bars;
  
    align-items: flex-end;
    gap: 10px;
    height: $window-titlebar-height;
    justify-content: space-between;
    padding: 5px;
  
    .action {
      padding-right: 10px;
  
      &:last-child {
        border-right: unset;
      }
    }
  
    .actions {
      align-items: center;
      font-size: 15px;
      gap: 10px;
      padding-left: 2px;
    }
  
    .search {
      padding-right: unset;
      position: relative;
      right: 0px;
      text-align: right;
      width: 150px;

      input {
        background-color: lighten($title-bar-color, 20%);
        border: none;
        border-radius: 5px;
        color: lighten($title-bar-text-color, 20%);
        
        font-family: "Open Sans", sans-serif;
        font-size: 11px;
        line-height: 18px;
        padding: 0 0 0 20px;
        width: 100%;
  
        &:focus {
          outline: none;
        }
  
        &::placeholder {
          color: lighten($title-bar-color, 50%);
        }
      }
  
      svg {
        color: lighten($title-bar-color, 50%);
        font-size: 11px;
        margin-left: 5px;
        position: absolute;
        top: 4px;
      }
    }
  }
}
