@import 'mixins';

.window {
  position: absolute;
  z-index: map-get($window, z-index);
  // TODO: Set this stuff inside the jsx most likely via vars coming from the apps and defaults
  top: 40px;
  left: 115px;

  width: map-get($window, width);
  min-width: 185px;
  height: map-get($window, height);

  border-radius: 5px;
  background-color: map-get($window, title-bar-color);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 50px rgba(0, 0, 0, 0.3); // TODO: Better way to manage shadow effects

  header {
    display: flex;
    align-items: center;

    height: map-get($window, title-bar-height);

    color: map-get($window, title-bar-text-color);

    h1 {
      // TODO: Ellipsis to not underlap buttons
      font-size: 12px;

      width: 100%;

      text-align: center;
    }

    nav {
      position: absolute;
      right: 0;

      display: flex;

      padding: 5px;

      gap: 5px;

      button {
        border: 0;
        background-color: transparent;

        &#minimize {
          color: $minimize;
        }

        &#maximize {
          color: $maximize;
        }

        &#close {
          color: $close;
        }

        svg:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  article {
    @include scrollbars(
      15px,
      map-get($window, border-radius) * 2,
      map-get($window, scroll-bar-color),
      map-get($window, bg-color)
    );

    overflow: hidden auto;

    height: map-get($window, height) - map-get($window, title-bar-height);

    border-radius: 0 0 map-get($window, border-radius)
      map-get($window, border-radius);
    background-color: map-get($window, bg-color);
  }
}
